.FollowButton{
    cursor: pointer;
    height: 54px;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
justify-content: center;    
width: 150px;
    font-weight: bold;
    font-size: large;
    border-radius: 50px;
}


.followed {
color: white;
background-image: linear-gradient(215deg, #97f85b 0%, #25dc80 100%);
}

.notFollowed {
    border: 1px solid blue ;
background-color: white;
color: var(--text-navy-blue);
}

