.FollowButton{
    cursor: pointer;
    height: 54px;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    width: 150px;
    font-weight: bold;
    font-size: medium;
    border-radius: 50px;


}
.icon {
height: 40px;
width: 40px;
}
  .icon.notFollowed {
    color: white;
    background-image: linear-gradient(215deg, #97f85b 0%, #25dc80 100%);
  }
  
  .icon.followed {
    background-color: blueviolet;
    color: var(--text-navy-blue);
  }