.dark-mode-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.dark-mode-toggle:hover {
  text-decoration: underline;
}

.light-mode {
  color: #000000;
}

.dark-mode {
  color: #ffffff;
  background-color: #222222;
}

.dark-mode .login_container {
  background-color: gray;
}
.dark-mode .login_container h4 {
  color: black;
}
.dark-mode .login_container p {
  color: black;
}
.dark-mode .register_container {
  background-color: gray;
}
.dark-mode .register_container h4 {
  color: black;
}
.dark-mode .register_container p {
  color: black;
}
.dark-mode .reset_password {
  background-color: gray;
}
.dark-mode .reset_password h4 {
  color: black;
}
.dark-mode .reset_password p {
  color: black;
}
.dark-mode .dashboard-conatiner {
  background-color: gray;
  color: black;
}
.dark-mode .div-user-profile-setting {
  background-color: gray;
}
.dark-mode .div-user-profile-setting-card h5 {
  color: black;
}
.dark-mode .user-side-pannel p {
  color: black;
}
.dark-mode .user-side-pannel h4 {
  color: black;
}
.dark-mode .user-main-pannel h2 {
  color: black;
}
.dark-mode .user-main-pannel p {
  color: black;
}
.dark-mode .ForumDetail-comment-container .comments-box p {
  color: black;
}
.dark-mode .ForumDetail-comment-container .pageContainerNewsDetailed label {
  color: white;
}
.dark-mode .ForumDetail-comment-container .pageContainerNewsDetailed .likebuttonNews svg {
  color: white;
}
.dark-mode .forumContainer .containerForum svg {
  color: white;
}

.dark-mode .forumContainer .containerForum .followForumButton svg {
  color: white;
}
.dark-mode .Company-Page-grid .company-tags p {
  color: black;
}
.dark-mode .Company-Page-grid svg {
  color: white;
}
.dark-mode .Company-Page-grid .companyDescription p {
  background: transparent;
}
.dark-mode p,
.dark-mode h6,
.dark-mode h5,
.dark-mode h4,
.dark-mode h3,
.dark-mode h2,
.dark-mode h1 {
  color: white;
}

.dark-mode .logo {
  background-image: url('/logo2.png');
}

.dark-mode nav p:hover {
  color: var(--primary-color-green);
}

.dark-mode .darkModeToggle {
  color: aqua;
}

/* @media (max-width: 650px) {
  .darkModeToggle {
    display: none;
  }
} */
