.dark-mode-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.dark-mode-toggle:hover {
  text-decoration: underline;
}

.light-mode {
  color: #000000;
}

.dark-mode {
  color: #ffffff;
  background-color: #222222;
}

.dark-mode p,
.dark-mode h6,
.dark-mode h5,
.dark-mode h4,
.dark-mode h3,
.dark-mode h2,
.dark-mode h1 {
  color: white;
}

.dark-mode .logo {
  background-image: url('/logo2.png');
}

.dark-mode nav p:hover {
  color: var(--primary-color-green);
}

.dark-mode .darkModeToggle {
color: aqua;
}