.form-wrap-background {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  color: var(--color-navy-blue);
  background: var(--background-color-gray);
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  width: 350px;
  border-radius: var(--img-border-radius);
  background-color: white;
  padding: 2rem;
  padding-bottom: 3rem;
  gap: 1rem;
}

.form-wrap h4 {
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  font-weight: 700;
}

.input_user_password24,
.input_user_password25,
.input_user_password26 {
  gap: 2rem;
  border-radius: 30px;
  border: solid 2px var(--primary-color-blue);
  width: 100%;
  margin-bottom: 25px;
  box-sizing: border-box;
  text-align: start;
  height: 40px;
  background: var(--background-color-gray);
}
.input_user_password24::placeholder,
.input_user_password25::placeholder,
.input_user_password26::placeholder {
  padding-left: 10px;
}

.form-wrap button {
  width: 91.5%;
  height: 40px;
}
