.reset_password {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  color: var(--color-navy-blue);
  background: var(--background-color-gray);
}

.reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  align-items: center;
  border-radius: var(--img-border-radius);
  background-color: white;
  padding: 2rem;
  padding-bottom: 3rem;
  gap: 1rem;
}
.reset h4 {
  font-weight: 700;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
}

.reset h5 {
    text-align: center;
    line-height: 1.5rem;
  }
.email_forgot_password {
  border-radius: 30px;
  border: solid 2px var(--primary-color-blue);
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: start;
  height: 40px;
  padding-left: 10px;
  background: var(--background-color-gray);
}
.email_forgot_password::placeholder {
  padding-left: 10px;
}

.reset button {
  width: 92%;
  height: 40px;
}

@media (max-width: 650px) {
  .form-wrap {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .form-register {
    width: 90%;
  }
}
/* @media (max-width: 600px) {
  .button-fgpw {
    min-width: 183.75px !important;
    align-content: center !important;
  }
}
@media (max-width: 900px) {
  .button-fppw {
    align-content: center !important;
  }
} */


