.resend {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: var(--color-white);
}
.pswcontainer {
  background-color: var(--color-navy-blue);
}
