.resend {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: var(--color-white);
}
.pswcontainer {
  background-color: var(--color-navy-blue);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.email_fgpsw {
  border-radius: 50px;
  border: 1px solid black;
  margin-top: 10px;
}
