.div-user-profile-setting {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-gray);
  gap: 3rem;
}

.dataProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 100%;
}

.div-user-profile-setting-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 150px;
  border-radius: var(--img-border-radius);
  padding: 4rem;
  margin: 30px;
  /* gap: 2rem; */

}

.dataProfile h4 {
  font-weight: 700;
  padding: 0.5rem;
  color: var(--color-navy-blue);  
}

.user-profile-text {
color: var(--color-navy-blue);;
} 

.input_user{
  border-radius: 30px;
  border: solid 2px var(--primary-color-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  height: 40px;
  background: var(--background-color-gray);
}
.input_user::placeholder {
  padding-left: 10px;
}

.div-user-profile-setting-card button {
  width: 92.5%;
  height: 45px;
  padding: 0 15px 0 15px;
  color: var(--text-navy-blue);
  text-align: center;
  color: white;
}

.div-user-profile-setting-card h5 a input label{
  margin-bottom:  10px;
}

.div-user-profile-setting-card input h5 {
  margin-top:  10px;

}

.profile-setting__line {
  margin: 10px 0 10px 0;
  border-color: var(--primary-color-green);
  border-width: 1px;
}

