.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 10px;
  border-radius: 20px;
  background-color: whitesmoke;
}

.form-wrap h1 {
  font-size: var(--font-size-h1);
  margin-bottom: 10px;
}

.form-wrap p {
  font-size: var(--font-size-h4);
  color: var(--primary-color-green);
  margin-bottom: 20px;
}

.input_user {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-color-green);
  border-radius: 5px;
}

.custom-placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  font-size: 14px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input_user:focus + .custom-placeholder,
.input_user:valid + .custom-placeholder,
.input_user:hover {
  font-size: 10px;
  top: 5px;
  left: 5px;
  background-color: azure;
}

/* Disabled button styling */
.btn:disabled {
  background-color: var(--disabled-color-green);
  cursor: not-allowed;
}

Link styling .anchorCustom {
  color: #49c1a2;
  text-decoration: none;
}

/* Footer section styling */
.footerForm {
  margin-top: 20px;
}

.register a {
  color: #49c1a2;
  text-decoration: none;
}
