.p-rating-icon {
    padding-top: 8px;
    width: 35px; 
    height: 35px;
    /* stroke: var(--primary-color-green);
    stroke-width: 0.5px; 
    fill: var(--color-green) */
}

.rating {
    margin: auto;
    text-align: center;
}