/* Estilos para el contenedor principal del formulario */
.form-wrap1 {
  max-width: 400px;
  min-width: 150px;
  max-height: 650px;
  margin: 0 auto;
  display: flex;
  background-color: var(--color-white);
  border: 1px solid gray;
  border-radius: var(--img-border-radius);
  padding: 2rem;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
}
/* Estilos para los labels */
.label-radio {
  background: #37a08e57;
  color: #fff;
  padding: 7px;
  text-align: center;
  width: 100%; /* Ocupa todo el ancho disponible */
  margin-bottom: 10px; /* Añade un poco de espacio entre los labels */
  border-radius: 5px;
}

/* Estilos para los radios de género */
.gender {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Alinea los elementos con espacio uniforme */
  margin-bottom: 20px; /* Añade espacio entre el grupo de radios y los siguientes elementos */
}
.register_container {
  background-color: var(--color-navy-blue);
  color: var(--color-navy-blue);
}

/* Estilos para los inputs */
input {
  padding: 10px;
  border-radius: 5px;
  border: solid 2px var(--primary-color-blue);
  width: 100%; 
  margin-bottom: 10px; /* Añade espacio entre los inputs */
  box-sizing: border-box; /* Incluye padding y border en el ancho total del elemento */
  text-align: start;
}
input:hover {
  background-color: rgb(231, 255, 231);
}



/* .btn_container button {
  min-width: 400px;
  max-height: 35px;
  margin-top: 2px;
} */
