/* Estilos para el contenedor principal del formulario */
.form-wrap1 {
  max-width: 400px;
  min-width: 150px;
  max-height: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 50rem;
  background-color: var(--color-white);
  opacity: 0.9;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 40px;
  justify-content: center;
  overflow-y: hidden;
  padding: 2rem;
}
/* Estilos para los labels */
.label-radio {
  background: #37a08e57;
  color: #fff;
  padding: 7px;
  text-align: center;
  width: 100%; /* Ocupa todo el ancho disponible */
  margin-bottom: 10px; /* Añade un poco de espacio entre los labels */
  border-radius: 5px;
}

/* Estilos para los radios de género */
.gender {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Alinea los elementos con espacio uniforme */
  margin-bottom: 20px; /* Añade espacio entre el grupo de radios y los siguientes elementos */
}
.register_container {
  background-color: var(--color-navy-blue);
}

/* Estilos para los inputs */
input {
  padding: 10px;
  border-radius: 5px;
  border: solid 2px var(--primary-color-blue);
  width: 100%; /* Ocupa todo el ancho disponible */
  margin-bottom: 10px; /* Añade espacio entre los inputs */
  box-sizing: border-box; /* Incluye padding y border en el ancho total del elemento */
  text-align: start;
}
input:hover {
  background-color: rgb(231, 255, 231);
}

/* Media query para dispositivos más pequeños */
@media (max-width: 600px) {
  /* Redefine los estilos para los labels y radios en dispositivos móviles */
  .label-radio,
  .gender {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
  }
}
@media (max-width: 600px) {
  .form-wrap {
    max-width: 260px;
  }
}
#file-drag {
  width: 87%;
  margin-bottom: 2%;
}
@media (max-width: 600px) {
  .filedrag {
    align-items: center;
    text-align: center;
  }
}

.btn_container button {
  min-width: 400px;
  max-height: 35px;
  margin-top: 2px;
}
