.ImageHome {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
}

.item {
  min-height: 200px;
  min-width: 400px;
  padding: 14px;
}

img {
  width: 100%;
  height: 90%;
  pointer-events: none;
  border-radius: var(--img-border-radius);
}

.carrosel {
  cursor: grab;
  /* overflow: hidden; */
}
