.company_container {
    /* height: 53vh; */
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    color: var(--color-navy-blue);
    background: var(--background-color-gray);
  }
  
  .formCompany {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    align-items: center;
    border-radius: var(--img-border-radius);
    background-color: white;
    padding: 2rem;
    padding-bottom: 3rem;
    gap: 1rem;
  }
  
  .formCompany h4 {
    font-weight: 700;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
  }
  .input_title {
    border-radius: 30px;
    border: solid 2px var(--primary-color-blue);
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: start;
    height: 40px;
    padding-left: 10px;
    background: var(--background-color-gray);
    margin-bottom: 1rem;
    }
  .input_content {
    border-radius: 30px;
    border: solid 2px var(--primary-color-blue);
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: start;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    background: var(--background-color-gray);
  }
  
  .input_title::placeholder,
  .input_content::placeholder {
    font-size: 14px;
  }
  
  .formCompany section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
  }
  .btn_container {
    text-align: center;
    gap: 1rem;
    padding-top: 1rem;
    line-height: 1.5;
  }
  
  .formForum button {
    width: 92%;
    height: 40px;
  }
  .forum-container {
    display: flex;
    padding-top: 10px;
    width:500px;
    gap: 3rem;
  }
  