.Company-Page-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.filter-controls {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 2rem;
}
