.dashboard-conatiner{
  display: flex;
  margin: 0 5rem 2rem 5rem;
  gap: 5rem;
}

.user-side-pannel {
  color: var(--color-navy-blue);
  display: flex;
  background-color: var(--background-color-gray);
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  border-radius: var(--img-border-radius);
}

.user-main-pannel {
  color: var(--color-navy-blue);
  display: flex;
  border: 2px solid var(--background-color-gray);
  flex-direction: column;
  /* align-items: center; */
  padding: 4rem;
  border-radius: var(--img-border-radius);
}

.user-pannel-section {

}