/* like */

/* Button 1 */

.button--green {
  width: 100px;
  height: 35px;
  color: var(--text-navy-blue);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border: transparent;
  border-radius: 50px;
  background-color: var(--primary-color-green);
  background-image: linear-gradient(215deg, #97f85b 0%, #25dc80 100%);
}
.button--green:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button--green:hover {
  background-color: var(--text-navy-blue);
  color: var(--text-white);
  background-image: none;
}
/* Button 2 */

.button--white {
  padding: 5px 30px;
  max-height: 20px;
  color: white;
  border: solid white 1.5px;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  background-color: transparent;
}
.button--white:hover {
  background-color: var(--text-white);
  color: var(--primary-color-green);
  border: solid var(--primary-color-green);
}
.button--white:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Button 3 */

.button--blue {
  padding: 5px 30px;
  max-height: 20px;

  color: var(--primary-color-blue);
  border: solid var(--primary-color-blue) 1.5px;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  background-color: transparent;
}
.button--blue:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--small {
  padding: 7px 15px;
  max-height: 20px;
}

.button--medium {
  padding: 10px 20px;
  max-height: 30px;
  font-size: medium;
}

.button--large {
  padding: 15px 30px;
  max-height: 40px;
  font-size: large;
}
.button-hover:hover {
  background-color: var(--text-white);
  color: var(--primary-color-green);
}
