.delete-container {
  padding: 15px;
  cursor: pointer;
  border: transparent;
  border-radius: 50px;
  background-image: linear-gradient(215deg, #97f85b 0%, #25dc80 100%);
  color: var(--color-navy-blue);
}

.delete-container:hover {
  background-image: none;
  background-color: var(--color-navy-blue);
  color: white;
  /* background-color: none; */
}
