
.hero-section { 
  background-image: url('/public/wind2.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply; 
  background-position: center;
  text-align: center;
  color: var(--color-text-white);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.button--large {
  display: inline-block; 
  width: 200px;
  margin: 0 auto;
  padding-top: var(--u1);
}

/* big title  */

.big-titel-section {
  max-width: 1600px;
  margin: 0 auto;
  color: #022461;
  flex-wrap: wrap;    
}

/* consumer image  */

.section-consumer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  max-width: 1600px;
  margin: 0 auto;
}

/* responsive incompleto  */

@media (max-width: 768px) {
  .section-consumer {
      grid-template-columns: 1fr; 
  }
}

.section-consumer__image {
  background: url("/public/consumer.jpg");
  background-size: cover; 
  background-position: center; 
}

.section-consumer__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #022461;
}
.section-consumer__text h4 {
  color: #00d880;
  margin-bottom: 2%;

}
/* revisar */

.video {
  z-index: -1;
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  max-width: none;
}

.videoSection {
  overflow: hidden;
  max-width: none;
}

.section1 {
  margin: 3rem;
  padding: 3rem;
  text-align: center;
  color: var(--text-navy-blue);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section2 {
  background-image: url('../../../public/photovoltaic.jpg');
  margin: 5rem 0 5rem 0;
  padding: 7rem;
  color: var(--text-white);
  object-fit: contain;
}

.section3 h2,
h4 {
  margin: 5rem 0 5rem 0;
  padding: 0;
  color: rgb(0, 7, 7);
  font-size: 30px;
}

.section4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three equal-width columns */
  grid-gap: 10px;
  height: 40vh;
  margin: 5rem 0 5rem 0;
  background-image: linear-gradient(95.27deg, #056fc7 0%, #00d880 100%);
}

.column1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 0 20%;
}
.column2 {
  flex-direction: column;
}
