.video {
  z-index: -40;
}

.videoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  content: cover;
}

.section1 {
  margin: 3rem;
  padding: 3rem;
  text-align: center;
  text-size-adjust: var(--);
}

.section2 {
  background-image: url('../../../public/photovoltaic.jpg');
  margin: 5rem 0 5rem 0;
  padding: 7rem;
  color: var(--text-white);
}

.section3 h2,
h4 {
  margin: 5rem 0 5rem 0;
  padding: 0;
  color: rgb(0, 7, 7);
  font-size: 30px;
}
