.containerCompanyDetailed {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}
.sectionCompanyImg {
  border-radius: var(--img-border-radius);
  width: 450px;
  height: 400px;
}
.sectionCompanyText {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}
.sectionCompanyText h2 {
  color: var(--color-navy-blue);
  text-align: center;
  font-weight: 600;
}
.sectionCompanyText h4 {
  text-align: center;
  font-size: 160%;
  color: var(--color-navy-blue);
  padding-top: 3rem;
}
.companyTagsDetailed {
  margin-top: 50px;
  display: inline-block;
  text-align: center;
}
.companyTagsDetailed label {
  background: var(--background-color-gray);
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 9px 15px 9px 15px;
  border-radius: 50px;
  font-size: 130%;
  color: var(--color-tags);
  font-weight: 500;
}
.companyContactDetails {
  margin-top: 15px;
  text-align: center;
  padding: 6px 15px 20px 15px;
  border-radius: 50px;
  font-size: 130%;
}
.companyContactDetails label {
  display: inline-block;
  text-align: center;
  padding: 6px 15px 5px 15px;
  border-radius: 50px;
  font-size: 100%;
  color: var(--color-navy-blue);
  font-weight: 500;
}
@media (max-width: 480px) {
  .containerCompany {
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 2rem;
    text-align: center;
  }
}

.ratingContainer {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

h5 {
    font-size: 140%;
}