.containerCompanyDetailed {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}
.sectionCompanyImg {
  border-radius: var(--img-border-radius);
  width: 450px;
  height: 400px;
}
.sectionCompanyText {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}
.sectionCompanyDescription {
  font-size: x-large;
  font-weight: 200;
  text-align: justify;
  line-height: 2rem;
}
.sectionCompanyText h2 {
  color: var(--color-navy-blue);
  text-align: center;
  font-weight: 600;
  line-height: 5rem;
}
.sectionCompanyText h4 {
  text-align: center;
  font-size: 160%;
  color: var(--color-navy-blue);
  padding-top: 3rem;
}
.companyTagsDetailed {
  margin-top: 50px;
  display: inline-block;
  text-align: center;
}
.companyTagsDetailed label {
  background: var(--background-color-gray);
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 9px 15px 9px 15px;
  border-radius: 50px;
  font-size: 130%;
  color: var(--color-tags);
  font-weight: 500;
}
.companyContactDetails {
  margin-top: 15px;
  text-align: center;
  padding: 6px 15px 20px 15px;
  border-radius: 50px;
  font-size: 130%;
}
.companyContactDetails label {
  display: inline-block;
  text-align: center;
  padding: 6px 15px 5px 15px;
  border-radius: 50px;
  font-size: 100%;
  color: var(--color-navy-blue);
  font-weight: 500;
}
.p-rating-icon {
  padding-top: 8px;
  width: 35px;
  height: 18px;
}
.ratingContainer {
  display: flex;
  flex-direction: column;

}

h5 {
  font-size: 140%;
}

@media (max-width: 480px) {
  .containerCompanyDetailed {
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 2rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .containerCompany {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 2rem;
    text-align: center;
  }
    .sectionCompanyImg {
    width: 90%; /* Cambiado */
    height: 90%;
  }
  .sectionCompanyText {
    font-size: 100%; /* Cambiado */
  }
  .companyTagsDetailed label {
    margin-top: 5px;
    border-radius: 50px;
    color: var(--color-tags);
    font-weight: 400; 
  }

  
}