.Company-Page-grid {
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.containerCompany {
  display: flex;
  color: var(--color-navy-blue);
  /*width: 30%; /* Defina a largura desejada para cada carta */
  border: 1px solid #ccc;
  border-radius: var(--img-border-radius);
  margin-bottom: 20px; /* Adicione uma margem inferior para criar espaço entre as linhas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  /*text-align: center; */
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

.imgCompany1 {
  max-width: 250px; /* Reduza a altura máxima da imagem */
  border-radius: 8px;
  margin-bottom: 5px; /* Reduza a margem inferior */
}
