.forumContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 9rem;
}

.forumContainer h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 6rem;
  font-weight: 600;
   color: var(--color-navy-blue);
}
.forumIntro h4 {
   color: var(--color-green);
    padding: 1rem 7rem;
    text-align: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.forumContainer button {
  align-items: center;
  width: 25%;
  height: 40px;
}
