/* .forumContainer h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 6rem;
  font-weight: 600;
  color: var(--color-navy-blue);
} */

.forumIntro h4 {
  color: var(--color-navy-blue);
  font-weight: 200;
}

.forumIntro {
  background-color: var(--color-navy-blue);
  border-radius: var(--img-border-radius);
  margin: 3rem;
  padding: 0 3rem 0 3rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: white;
}

.Start-a-post {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid;
  gap: 1rem;
  padding: 5rem 3rem 5rem 5rem;
  margin: 5rem 3rem 5rem 3rem;
  border-radius: var(--img-border-radius);
  background-color: var(--color-navy-blue);
}

.Start-a-post input {
  border-radius: 50px;
  border: solid 2px var(--primary-color-blue);
  /* width: 100%; */
  text-align: start;
  height: 50px;
  padding-left: 10px;
  background: var(--background-color-gray);
  width: 250px;
}
