.ForumDetail-comment-container {
  padding: 3rem;
  gap: 3rem;
}

/* leave a comment section */

.Leave-a-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  gap: 1rem;
  padding: 5rem 3rem 5rem 5rem;
  margin: 5rem 3rem 5rem 3rem;
  border-radius: var(--img-border-radius);
  background-color: var(--color-navy-blue);
}

.Leave-a-comment input {
  border-radius: 50px;
  border: solid 2px var(--primary-color-blue);
  /* width: 100%; */
  text-align: start;
  height: 50px;
  padding-left: 10px;
  background: white;
  min-width: 250px;
}

.Leave-a-comment button {
  padding: 12px;
  color: var(--text-navy-blue);
  color: var(--color-navy-blue);
  cursor: pointer;
  border: transparent;
  border-radius: 50px;
  background-image: linear-gradient(215deg, #97f85b 0%, #25dc80 100%);
}

/* comments section  */

.comments-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 3rem;
  border-radius: var(--img-border-radius);
}

.comments-section-comment {
  border-radius: var(--img-border-radius);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--background-color-gray);
}

.comments-icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 480px) {
  /* .ForumDetail-comment-container {
    margin: 0;
  }
  .comments-section-comment {
    padding: 0rem;
  } */
  .Leave-a-comment {
    margin: 3rem -5rem 3rem -5rem;
    display: flex;
    flex-direction: column;
  }
  /* .ForumFigureDetail-Container h1 {
    text-align: center;
    font-size: 30px;
  }
  .ForumFigureDetail-Container {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  } */
}
