.Leave-a-commenttt {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  gap: 1rem;
  padding: 5rem 3rem 5rem 5rem;
  margin: 5rem 3rem 5rem 3rem;
  border-radius: var(--img-border-radius);
  background-color: var(--color-navy-blue);
}
