.NewsPageGrid {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
}

.tagsfilter {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0 auto ;
  }

  .tagsfilter button {
    width: 150px;
  }


@media (max-width: 480px) {
  .tagsfilter {
    flex-direction: column;
    gap: 0.5rem;
  }
  .NewsPageGrid {
    padding: 0;

  }
}

/* Pantallas pequeñas (móviles) */
/* @media (max-width: 768px) {
  .NewsPageGrid containerNews {
    flex-direction: column;
    padding: 2rem;
    width: 70%;
  }
  .tagsfilter {
    display: flex;

    flex-direction: row;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .NewsPageGrid containerNews {
    flex-direction: row;
    column-gap: 2rem;
    padding: 3rem;
  }
} */

/* @media (min-width: 1024px) {
  .NewsPageGrid containerNews {
    column-gap: 3rem;
    padding: 5rem;
  }
} */
/* .tagsfilter {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
} */
