header {
  height: 10vh;
  background-color: var(--text-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1600px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1600px;

}

.logo {
  width: 230px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/Logo.png');
}

nav p {
  font-weight: bold;
  color: var(--color-navy-blue);
}

.icon {
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}
