#header {
  background-color: var(--text-white);
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  height: 15vh;
}

@media (max-width: 650px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
}
.nav-mobile {
  display: none;
}

nav button {
  width: 120px;
  height: 30px;
}

.logo {
  width: 230px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/Logo.png');
}

nav p {
  font-weight: bold;
  color: var(--color-navy-blue);
}

nav p:hover  {
  color: var(--primary-color-green);
}

.form-update-profile label {
  color: var(--color-navy-blue);
}

.icon {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--primary-color-green);
  
}

@media (min-width: 700px) {
  i.fa {
    display: none;
  }
}

