header {
  min-height: 10vh;
  background-color: var(--text-white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 0 auto;
  max-width: 1600px; */
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1140px;
}

.logo {
  width: 230px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/Logo.png');
}

nav p {
  font-weight: bold;
  color: var(--color-navy-blue);
}

.icon {
  width: 80px;
  border-radius: 800px;
}
