.iconDeleteUser {
  border-radius: 50%;
}

.containerNavProfile {
  background-color: #2f7a67;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-radius: 20px;
  margin-top: 5vh;
  gap: 1rem;
}
