.footer-outer-conatiner {
  background-color: var(--color-navy-blue);
  padding: 50px 0 50px 0 ;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  min-height: 20vh;
  max-width: 1600px;
  margin: 0 auto;
  color: white;
  
}
@media (max-width: var(--smartphone-portrait)) {
  .footer-container {
    flex-direction: column;
    padding: 20px;
  }
}


.column2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

}

.logo-white {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/logo2.png');
}

.column1, .column3  {
  display: flex;
  flex-direction: column;
}

.column2 p {
  margin-top: 10px;
  font-weight: 100;
}

.column1 a, .column3 a {
 margin-top: 10px;
}

.footer-container h5 {
  margin-bottom: 20px;
}

footer a {
  color: var(--color-white);
}
footer a:hover {
  color: var(--link-hover);
} 

.rights {
  color: white;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-size: smaller;
}