.footer {
  padding: 1em 0;
  text-align: center;
  background-color: var(--gradient-color);
  /* color: rgb(14, 13, 13);
  bottom: 0;
  left: 0; */
  background-size: cover;
  box-sizing: border-box;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
/*Nos queda resolver lo de los márgenes blancos. */

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.column-center {
  text-align: center;
}

.column-center h2 {
  margin: 0; /* Remova qualquer margem padrão para garantir o alinhamento correto */
}

.rights {
  margin-top: 70px;
}