.footer {
    padding: 1em;
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(
      95.27deg,
      var(--primary-color-blue) 0%,
      var(--primary-color-green) 100%
    );
  }
  /*Hay que hacerlo responsive ya que en pantallas externas se ven márgenes blancos verticales. En portátiles se ve correctamente */
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .rights {
    padding-top: 20px;
  }
  
  h4 {
    margin-bottom: 8px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  .spacing {
    margin-top: 10px;
  }
  
  .links {
    color:rgb(177, 243, 249)  
  }  /* Este color hay que mirarlo para que sea igual que los de "follow us"*/