.ForumFigureDetail-Container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-navy-blue);
  margin: 0 5rem 0 5rem;
  gap: 2rem;
}

.ForumFigureDetail-Container img {
  border-radius: var(--img-border-radius);
  margin: 0 10rem 0 10rem;
}

.ForumFigureDetail-Container p {
  font-size: large;
  line-height: 2.1rem;
}

@media (max-width: 480px) {

  .ForumFigureDetail-Container  {
    margin: 0;

  }
  .ForumFigureDetail-Container h1 {
    font-size: 40px;
  }
  
 
}