.commentOwnerContainer {
  border-radius: var(--img-border-radius);
}

.commentOwnerContainer_profile {
  align-items: center;
  display: flex;
  /* flex-direction: row; */
  gap: 3rem;
}

.commentOwnerText {
  background-color: white;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: var(--img-border-radius);
}

.commentOwnerContainer a {
  /* color: var(--color-green); */
  color: var(--color-navy-blue);
}


