.page-container-news {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Permite que os cartões das empresas sejam organizados em várias linhas */
  justify-content: center; /* Centraliza os cartões horizontalmente */
  gap: 20px; /* Adiciona espaçamento entre os cartões */
  color: var(--color-navy-blue);
  display: grid;
}

.containerNews {
  width: 200px; /* Defina a largura desejada para cada carta */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px; /* Reduza o preenchimento para tornar as cartas mais compactas */
  margin-right: 0; /* Remova a margem à direita */
  margin-bottom: 20px; /* Adicione uma margem inferior para criar espaço entre as linhas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid; /* Impede que as cartas se estiquem para preencher todo o espaço disponível */
}

.newsTitle {
  font-size: 18px; /* Reduza o tamanho da fonte */
  font-weight: bold;
  margin-bottom: 5px; /* Reduza a margem inferior */
}

.newsFullContent {
  font-size: 14px; /* Reduza o tamanho da fonte */
  margin-bottom: 5px; /* Reduza a margem inferior */
  text-align: justify;
}

.imgNews {
  width: 100%;
  max-height: 150px; /* Reduza a altura máxima da imagem */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 5px; /* Reduza a margem inferior */
}

.newsShortContent {
  margin-bottom: 5px; /* Reduza a margem inferior */
}

.newsTags {
  font-style: italic;
  font-size: 14px; /* Reduza o tamanho da fonte */
}
