.pageContainerNewsDetailed {
  margin: 3rem 9rem;
}

.pageContainerNewsDetailed h2 {
  color: var(--color-green);
  padding: 1rem 7rem;
  text-align: center;
}
.newsShortContentDetailed {
  display: flex;
  margin-top: 2rem;
  font-size: 150%;
  text-align: center;
  color: var(--color-navy-blue);
}
.newsImageDetailed {
  display: flex;
  justify-content: center;
  padding: 4rem;
  height: 800px;
  margin-bottom: -2rem;
}


.newsFullContentDetailed {
  display: flex;
  margin-top: 2rem;
  font-size: 150%;
  color: var(--color-navy-blue);
}
.authorAndTags {
  margin-top: 4rem;
  font-size: 140%;
  color: var(--color-navy-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-green);
}
