* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 59.2px;
  font-weight: 400;
}

h2 {
  font-size: 39.47px;
  font-weight: 400;
}

h3 {
  font-size: 33.72px;
  font-weight: 400;
}

h4 {
  font-size: 28.03px;
  font-weight: 400;
}

h5 {
  font-size: 21.03px;
  font-weight: 400;
}

h6 {
  font-size: 14.07px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--color-tags);
}

ul {
  list-style-type: none;
}
img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a.active p {
  color: var(--color-green);
}

:root {
  /* Colores */
  --primary-color-green: #97f85b;
  --color-green: #25dc80;
  --color-tags: #0eb648ef;
  --color-navy-blue: #122e3d;
  --color-white: #ffff;
  --background-color-gray: #f0f0f0;
  --background-color-opacity: #00000071;

  /* Colores para los links y la acción de hover (se pueden cambiar) */
  --link-text: #1b1c1b;
  --link-hover: #bad5e5;

  /* Elementos adicionales */
  --img-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --img-border-radius: 30px;

  /* Screen sizes */
  --iphoneSE2016-portrait: 320px;
  --iphone12-portrait: 390px;
  --screenMax-phone: 460px;
  --screenMax: 1600;
}
