:root {
  /** Personalizar COLORES */

  /* Colores */
  --primary-color-green: #97f85b;
  --color-green: #25dc80;
  --color-navy-blue: #022461;
  --color-white: #ffff;
  --background-color-gray: #f0f0f0;
  --background-color-opacity: #03181271;

  /* Colores para los links y la acción de hover (se pueden cambiar) */
  --link-text: #1b1c1b;
  --link-hover: #bad5e5;

  /* Elementos adicionales */
  --img-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --img-border-radius: 30px;

  /** Personalizar TEXTOS*/
  --primary-font-family: 'Outfit', sans-serif;

  /*media query variables
  --smartphone-portrait: 480px;
  --smartphone-landscape: 767px;

  --tablet-portrait-min: 768px;
  --tablet-portrait-max: 1024px;
  --tablet-landscape: 1024px;
  --small-laptop-desktop-min: 1025px;
  --small-laptop-desktop-max: 1366px;
  --medium-large-desktop-min: 1367px;

  /*Los tamaños de textos se indican en REMs en base a 10px. Por ejemplo, 2.5 equivale a 25px.*/

  /*Encabezados*/

  /*--hScale: 1.5;

  /* .h1 
  --h1-max: 6;
  --h1-min: calc(var(--h1-max) / var(--hScale));
  --h1-weight: 600;

  /* .h2 
  --h2-max: 5;
  --h2-min: calc(var(--h2-max) / var(--hScale));
  --h2-weight: 500;

  /* .h3 
  --h3-max: 4;
  --h3-min: calc(var(--h3-max) / var(--hScale));
  --h3-weight: 500;

  /* .h4 
  --h4-max: 3;
  --h4-min: calc(var(--h4-max) / var(--hScale));
  --h4-weight: 500;

  /* .h5 
  --h5-max: 2.5;
  --h5-min: calc(var(--h5-max) / var(--hScale));
  --h5-weight: 500;

  /* .h6 
  --h6-max: 2;
  --h6-min: calc(var(--h6-max) / var(--hScale));
  --h6-weight: 500;

  /*Texto de cuerpo

  --bodyScale: 1.25;

  /* .p-xl 
  --body-max: 1.8;
  --body-min: calc(var(--body-max) / var(--bodyScale));

  /* .p-l 
  --p-xl-max: 2.4;
  --p-xl-min: calc(var(--p-xl-max) / var(--bodyScale));

  /* .p 
  --p-l-max: 2.2;
  --p-l-min: calc(var(--p-l-max) / var(--bodyScale));

  /* .p-s 
  --p-s-max: 1.6;
  --p-s-min: calc(var(--p-s-max) / var(--bodyScale));

  /* .p-xs 
  --p-xs-max: 1.4;
  --p-xs-min: calc(var(--p-xs-max) / var(--bodyScale));

  /** padding 

  /* .p-1 
  --p1-max: calc(var(--unit) * 1);
  --p1-min: calc(var(--p1-max) * var(--reduction));

  /* .p-15 
  --p15-max: calc(var(--unit) * 1.5);
  --p15-min: calc(var(--p15-max) * var(--reduction));

  /* .p-2 
  --p2-max: calc(var(--unit) * 2);
  --p2-min: calc(var(--p2-max) * var(--reduction));

  /* .p-25 
  --p25-max: calc(var(--unit) * 2.5);
  --p25-min: calc(var(--p25-max) * var(--reduction));

  /* .p-3 
  --p3-max: calc(var(--unit) * 3);
  --p3-min: calc(var(--p3-max) * var(--reduction));

  /* .p-35 
  --p35-max: calc(var(--unit) * 3.5);
  --p35-min: calc(var(--p35-max) * var(--reduction));

  /* .p-4 
  --p4-max: calc(var(--unit) * 4);
  --p4-min: calc(var(--p4-max) * var(--reduction));

  /* .p-50 
  --p50-max: calc(var(--unit) * 5);
  --p50-min: calc(var(--p50-max) * var(--reduction));

  /*Gaps*/

  /*.gap-1
  --gap1-max: calc(var(--unit) * 1);
  --gap1-min: calc(var(--gap1-max) * var(--reduction));

  /*.gap-15
  --gap15-max: calc(var(--unit) * 1.5);
  --gap15-min: calc(var(--gap15-max) * var(--reduction));

  /*.gap-2
  --gap2-max: calc(var(--unit) * 2);
  --gap2-min: calc(var(--gap2-max) * var(--reduction));

  /*.gap-25
  --gap25-max: calc(var(--unit) * 2.5);
  --gap25-min: calc(var(--gap25-max) * var(--reduction));

  /*.gap-3
  --gap3-max: calc(var(--unit) * 3);
  --gap3-min: calc(var(--gap3-max) * var(--reduction));

  /*.gap-35
  --gap35-max: calc(var(--unit) * 3.5);
  --gap35-min: calc(var(--gap35-max) * var(--reduction));

  /*.gap-4
  --gap4-max: calc(var(--unit) * 4);
  --gap4-min: calc(var(--gap4-max) * var(--reduction));

  /*Free variables
  --unit-max: calc(var(--unit) * 1);
  --unit-min: calc(var(--unit-max) * var(--reduction));

  --unitFrom: calc(var(--unit-max) * 1rem);
  --unitTo: calc(var(--unit-min) * 1rem);
  --fluidUnit: calc(
    var(--unitTo) + (var(--unit-max) - var(--unit-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );

  /*Ejemplos de espacios si el --unit está definido en 1.6  

  --u1: clamp(var(--unitTo), var(--fluidUnit), var(--unitFrom)); 16px
  --u05: calc(var(--u1) * 0.5); 80px
  --u15: calc(var(--u1) * 1.5); 24px
  --u2: calc(var(--u1) * 2);
  --u25: calc(var(--u1) * 2.5); 40px
  --u3: calc(var(--u1) * 3); 48px
  --u35: calc(var(--u1) * 3.5); 56px
  --u4: calc(var(--u1) * 4); 64px
  --u45: calc(var(--u1) * 4.5); 72px
  --u5: calc(var(--u1) * 5); 8px */  


  /** ⛔️📱 RESPONSIVE CONFIG 📱⛔️ */

  /*Anchos de pantalla mínimo y máximo cuando los textos y paddings empiezan a reducirse. Indicar en píxeles pero sin unidad*/
  --screenMin: 480;
  --screenMax: 1600;
  --screenSpacingMin: 480;
  --screenSpacingMax: 1600;

  /*Text
  --fluidFromCalc: calc(var(--screenMax) / 10 * 1rem);
  --fluidToCalc: calc(var(--screenMin) / 10 * 1rem);

  /*padding
  --unit: 1.6;
  --reduction: 0.5;
  --fluidSpacingFromCalc: calc(var(--screenSpacingMax) / 10 * 1rem);
  --fluidSpacingToCalc: calc(var(--screenSpacingMin) / 10 * 1rem);
}

/** ⛔️ AQUI EMPIEZAN LAS REGLAS DE CSS - NO TOCAR ⛔️ **/

/*--Paddings

.p-1 {
  --p1From: calc(var(--p1-max) * 1rem);
  --p1To: calc(var(--p1-min) * 1rem);
  --fluidp1: calc(
    var(--p1To) + (var(--p1-max) - var(--p1-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  padding: clamp(var(--p1To), var(--fluidp1), var(--p1From));
}

.p-15 {
  --p15From: calc(var(--p15-max) * 1rem);
  --p15To: calc(var(--p15-min) * 1rem);
  --fluidp15: calc(
    var(--p15To) + (var(--p15-max) - var(--p15-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  padding: clamp(var(--p15To), var(--fluidp15), var(--p15From));
}

.p-2 {
  --p2From: calc(var(--p2-max) * 1rem);
  --p2To: calc(var(--p2-min) * 1rem);
  --fluidp2: calc(
    var(--p2To) + (var(--p2-max) - var(--p2-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  padding: clamp(var(--p2To), var(--fluidp2), var(--p2From));
}

.p-25 {
  --p25From: calc(var(--p25-max) * 1rem);
  --p25To: calc(var(--p25-min) * 1rem);
  --fluidp25: calc(
    var(--p25To) + (var(--p25-max) - var(--p25-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  padding: clamp(var(--p25To), var(--fluidp25), var(--p25From));
}

.p-3 {
  --p3From: calc(var(--p3-max) * 1rem);
  --p3To: calc(var(--p3-min) * 1rem);
  --fluidp3: calc(
    var(--p3To) + (var(--p3-max) - var(--p3-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  padding: clamp(var(--p3To), var(--fluidp3), var(--p3From));
}

.p-35 {
  --p35From: calc(var(--p35-max) * 1rem);
  --p35To: calc(var(--p35-min) * 1rem);
  --fluidp35: calc(
    var(--p35To) + (var(--p35-max) - var(--p35-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  padding: clamp(var(--p35To), var(--fluidp35), var(--p35From));
}
.p-4 {
  --p4From: calc(var(--p4-max) * 1rem);
  --p4To: calc(var(--p4-min) * 1rem);
  --fluidp4: calc(
    var(--p4To) + (var(--p4-max) - var(--p4-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  padding: clamp(var(--p4To), var(--fluidp4), var(--p4From));
}
.p-50 {
  --p50From: calc(var(--p50-max) * 1rem);
  --p50To: calc(var(--p50-min) * 1rem);
  --fluidp35: calc(
    var(--p50To) + (var(--p50-max) - var(--p50-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  padding: clamp(var(--p50To), var(--fluidp35), var(--p50From));
}

/* Headings 
h1,
.h1 {
  --max: var(--h1-max);
  --min: var(--h1-min);
}
h2,
.h2 {
  --max: var(--h2-max);
  --min: var(--h2-min);
}
h3,
.h3 {
  --max: var(--h3-max);
  --min: var(--h3-min);
}
h4,
.h4 {
  --max: var(--h4-max);
  --min: var(--h4-min);
}
h5,
.h5 {
  --max: var(--h5-max);
  --min: var(--h5-min);
}
h6,
.h6 {
  --max: var(--h6-max);
  --min: var(--h6-min);
}

/* Body 
body,
.p {
  --max: var(--body-max);
  --min: var(--body-min);
}
.p-xl {
  --max: var(--p-xl-max);
  --min: var(--p-xl-min);
}
.p-l {
  --max: var(--p-l-max);
  --min: var(--p-l-min);
}
.p-s {
  --max: var(--p-s-max);
  --min: var(--p-s-min);
}
.p-xs {
  --max: var(--p-xs-max);
  --min: var(--p-xs-min);
}

/*Altura de linea*/
/*h1,
.h1 {
  line-height: 1.1;
}
h2,
.h2 {
  line-height: 1.15;
}
h3,
.h3 {
  line-height: 1.2;
}
h4,
.h4 {
  line-height: 1.25;
}
h5,
.h5 {
  line-height: 1.3;
}
h6,
.h6 {
  line-height: 1.35;
}*/
/*
:is(
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    body,
    .p,
    .p-xl,
    .p-l,
    .p-s,
    .p-xs
  ) {
  --from: calc(var(--max) * 1rem);
  --to: calc(var(--min) * 1rem);
  --fluid: calc(
    var(--to) + (var(--max) - var(--min)) *
      ((100vw - var(--fluidToCalc)) / ((var(--screenMax) / 10) - (var(--screenMin) / 10)))
  );
  font-size: clamp(var(--to), var(--fluid), var(--from));
}

--Gaps

.gap-1 {
  --gap1From: calc(var(--gap1-max) * 1rem);
  --gap1To: calc(var(--gap1-min) * 1rem);
  --fluidgap1: calc(
    var(--gap1To) + (var(--gap1-max) - var(--gap1-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  gap: clamp(var(--gap1To), var(--fluidgap1), var(--gap1From));
}

.gap-15 {
  --unitFrom: calc(var(--gap15-max) * 1rem);
  --unitTo: calc(var(--gap15-min) * 1rem);
  --fluidgap15: calc(
    var(--unitTo) + (var(--gap15-max) - var(--gap15-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  gap: clamp(var(--unitTo), var(--fluidgap15), var(--unitFrom));
}

.gap-2 {
  --gap2From: calc(var(--gap2-max) * 1rem);
  --gap2To: calc(var(--gap2-min) * 1rem);
  --fluidgap2: calc(
    var(--gap2To) + (var(--gap2-max) - var(--gap2-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  gap: clamp(var(--gap2To), var(--fluidgap2), var(--gap2From));
}

.gap-25 {
  --unitFrom: calc(var(--gap25-max) * 1rem);
  --unitTo: calc(var(--gap25-min) * 1rem);
  --fluidgap25: calc(
    var(--unitTo) + (var(--gap25-max) - var(--gap25-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  gap: clamp(var(--unitTo), var(--fluidgap25), var(--unitFrom));
}

.gap-3 {
  --gap3From: calc(var(--gap3-max) * 1rem);
  --gap3To: calc(var(--gap3-min) * 1rem);
  --fluidgap3: calc(
    var(--gap3To) + (var(--gap3-max) - var(--gap3-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  gap: clamp(var(--gap3To), var(--fluidgap3), var(--gap3From));
}

.gap-35 {
  --unitFrom: calc(var(--gap35-max) * 1rem);
  --unitTo: calc(var(--gap35-min) * 1rem);
  --fluidgap35: calc(
    var(--unitTo) + (var(--gap35-max) - var(--gap35-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  gap: clamp(var(--unitTo), var(--fluidgap35), var(--unitFrom));
}

.gap-4 {
  --gap4From: calc(var(--gap4-max) * 1rem);
  --gap4To: calc(var(--gap4-min) * 1rem);
  --fluidgap4: calc(
    var(--gap4To) + (var(--gap4-max) - var(--gap4-min)) *
      (
        (100vw - var(--fluidSpacingToCalc)) /
          ((var(--screenSpacingMax) / 10) - (var(--screenSpacingMin) / 10))
      )
  );
  gap: clamp(var(--gap4To), var(--fluidgap4), var(--gap4From));
}

Reset of styles 

html {
  font-size: 62.5%;
  box-sizing: content-box;
}

body {
  font-family: var(--primary-font-family);
}

h1 {
  font-weight: var(--h1-weight);
}

h2 {
  font-weight: var(--h2-weight);
}

h3 {
  font-weight: var(--h3-weight);
}

h4 {
  font-weight: var(--h4-weight);
}

h5 {
  font-weight: var(--h5-weight);
}

h6 {
  font-weight: var(--h6-weight);
}

a {
  color: var(--color-primary-blue);
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  overflow-x: hidden;
} */
